= render "layouts/header"
.body
  .group-form
    %h1 グループ編集
    = render partial: 'form', locals: { group: @group }
    .field
      = link_to group_path(@group), method: :delete, class: 'field__destroy' do
        グループを削除する