.wrapper
  = render "layouts/header"
  .group-body
    .chat-group-form
      %h1 グループ編集
      = render partial: 'form', locals: { group: @group }
      .group-form__field
        = link_to group_path(@group), method: :delete, class: 'group-destroy' do
          グループを削除する