.look {
  display: flex;
  .looked-count {
    margin-right: 10px;
    font-size: 14px;
    color: black;
  }
  .look-btn {
    background-color: #eee;
    display: block;
    line-height: 20px;
    color: black;
    font-size: 14px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
}