.chat-main {
  display: flex;
  height: calc(100vh - 60px);
}

.left_bar {
  width: 300px;
  border-right: 1px solid #ccc;
  .new-group {
    height: 60px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: black;
    text-align: center;
    line-height: 40px;
  }
  .new-group:hover {
    background-color: #c1e4e9;
  }
  .joined-groups {
    .group {
      border-bottom: 1px solid #ccc;
      padding: 10px 20px;
      overflow: scroll;
      height: 70px;
      width: 300px;
      color: black;
      font-size: 18px;
      line-height: 50px;
    }
    .group:hover {
      background-color: #c1e4e9;
    }

    .group:visited {
      background-color: #c1e4e9;
    }
  }
}


.right_body {
  width: calc(100% - 300px);
  .current-group {
    background-color: #f5f5f5;
    height: 60px;
    padding: 15px 30px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    .group-info {
      display: flex;
      .member-count {
        font-size: 14px;
        margin: auto 30px;
      }
    }
    &__menu {
      font-size: 12px;
      color: #214d7f;
      line-height: 30px;
    }
  }
}

.group-posts {
  height: calc(100vh - 120px);
  overflow: scroll;
}

.post-form {
  margin: 0px 24px 24px;
}
.post-form__inner {
  background-color: #f0f0f0;
  padding: 15px;
  resize: vertical;
  min-height: 200px;
  display: flex;
  .current-user-info {
    width: 40px;
  }
  .input-box {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    &__content {
      resize: vertical;
      width: 100%;
      min-height: 150px;
      padding: 10px;
    }
    &__bottom {
      display: flex;
      justify-content: flex-end;
      &__files {
        margin-right: 20px;
        &__file {
        }
      }
      .submit-btn {
        background-color: #dcdcdc;
        height: 30px;
        width: 100px;
        padding: 0 30px;
        color: #696969;
        text-decoration: none;
        cursor: pointer;
      }
      .submit-btn:hover {
        background-color: #c1e4e9;
      }
    }
  }
}

.posts {
  overflow: scroll;
}

.post {
  border: 1px solid #ccc;
  margin: 24px;
}

.top {
  padding: 10px;
  display: flex;
  &__right {
    &--user-name {
      font-size: 14px;
    }
    &--datetime {
      font-size: 6px;
    }
  }
}
.middle {
  padding: 10px 10px 10px 50px;
  .post-content {
    margin-bottom: 10px;
  }
  .post-files {
    display: flex;
    margin-bottom: 10px;
    &__file {
      width: 150px;
      height: 150px;
      margin-right: 10px;
      border: 1px solid #ccc;

    }
  }
}
.bottom {
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  .comment-link {
    display: inline-block;
    padding: 10px;
    height: 40px;
    width: 100%;
    color: #007bbb;
    align-items: center;
    text-align: center;
  }
}

.bottom:hover {
  background-color: #c1e4e9;
}

img {
  object-fit: contain;
}