* {
  box-sizing: border-box;
  font-family: 'Hiragino Kaku Gothic Pro';
}

a {
  text-decoration: none;
  display: block;
}

img {
  object-fit: contain;
}

#avater {
  background-color: #fff;
  height: 35px;
  width: 35px;
  margin-right: 10px;
  border-radius: 5px;
}

.body {
  background-color: #eaf4fc;
  height: calc(100vh - 60px);
  width: 100%;
  padding: 40px;
}

.field_with_errors {
  display: contents;
  input {
    border: 1px solid #ea352d;
  }
}