.timetable {
  width: 100%;
  height: 65vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  &__image {
    width: 100%;
    height: 100%;
  }
}
.profile {
  &__introduce {
    background-color: #fff;
    width: 100%;
    height: 100px;
    overflow: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.user-body {
  background-color: #eaf4fc;
  height: 100vh;
  width: 100%;
  padding: 60px 15%;
  text-align: center;
}

.user-session-logo {
  height: 130px;
  margin-bottom: 30px;
}

.account-page {
  .account-page__inner {
    width: 100%;
    padding: 60px;

    h2 {
      margin-bottom: 20px;
      letter-spacing: 3px;
      font-size: 18px;
      font-weight: 200;
      color: black;
    }

    .field {
      margin-bottom: 10px;
      display: flex;
      width: 100%;

      .field-label {
        width: 40%;
        padding: 10px 0;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 200;
        i {
          font-size: 11px;
        }
      }

      .field-input {
        width: 60%;
        display: flex;
        input {
          width: 80%;
          padding: 10px;
          letter-spacing: 1px;
        }
      }

      #input-name {
        width: 40%;
      }

      #user_introduce {
        border: 1px solid #ccc;
        resize: vertical;
        width: 100%;
        min-height: 150px;
        padding: 10px;
      }
    }

    .btn {
      display: inline-block;
      height: 50px;
      padding: 0 30px;
      line-height: 50px;
      letter-spacing: 1px;
      text-align: center;
      border: none;
      border-radius: 2px;
      &--link {
        margin-top: 20px;
        color: black;
        font-size: 14px;
      }
    }

    input[type='submit'] {
      margin-top: 20px;
      color: #fff;
      background-color: #214d7f;
    }

    .field-label {
      .field_with_errors {
        display: inline-block;
        color: #d65f4c;
        font-weight: 400;
      }
    }

    .field-input {
      .field_with_errors {
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 5px;
          background-color: #d65f4c;
        }
      }
    }
  }

  #error_explanation {
    margin: 20px 0;
    padding: 20px 30px;
    border: 1px solid #ddd;
    border-radius: 2px;

    h2 {
      margin-bottom: 10px;
      color: #d65f4c;
      font-size: 14px;
    }

    ul {
      margin: 0;
      padding-left: 17px;
      list-style: square;
    }

    li {
      margin: 0;
      padding: 0;
      font-size: 13px;
    }
  }
}