.left_bar
  =link_to new_group_path, class: 'new-group' do
    新規グループ作成
  .joined-groups
    - current_user.groups.each do |group|
      = link_to group_posts_path(group), class: 'group' do
        = group.name