.devise-session {
  background-color: #eaf4fc;
  height: 100vh;
  width: 100%;
  text-align: center;

  &__logo {
    height: 130px;
    margin: 60px 0 0;
  }
}

.user-form {
  width: 900px;
  margin: 0 auto;
  padding: 80px 60px;

  .field {
    margin-bottom: 10px;
    display: flex;
    width: 100%;

    &__label {
      width: 300px;
      padding: 12px;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 200;
      text-align: right;
      i {
        font-size: 11px;
      }
    }

    &__input {
      padding: 0 10% 0 5%;
      width: 100%;
      display: flex;
      input {
        width: 100%;
        padding: 10px;
        letter-spacing: 1px;
      }
      &__textarea {
        border: 1px solid #ccc;
        resize: vertical;
        width: 100%;
        min-height: 150px;
        padding: 10px;
      }
    }
  }

  .btn {
    display: block;
    color: #fff;
    background-color: #214d7f;
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 2px;
    margin: 40px auto 20px;
  }
  .btn-link {
    color: #214d7f;
    font-size: 14px;
  }
}

.field_with_errors {
  width: 200%;
  input{
    width: 100%;
    padding: 10px;
    letter-spacing: 1px;
    border-left: 5px solid #d65f4c;
  }
}

// #error_explanation {
//   padding: 10px 30px;
//   border: 1px solid #ddd;
//   border-radius: 2px;

//   h2 {
//     margin-bottom: 5px;
//     color: #d65f4c;
//     font-size: 14px;
//   }

//   ul {
//     margin: 0;
//     padding-left: 17px;
//     list-style: none;
//   }

//   li {
//     margin: 0;
//     padding: 0;
//     font-size: 13px;
//   }
// }