.top {
  padding: 10px;
  display: flex;
  &__right {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__userinfo {
    &--user-name {
      font-size: 14px;
    }
    &--datetime {
      font-size: 6px;
    }
  }
  &__release {
    background-color: #eee;
    font-size: 12px;
    border: 1px solid #dc143c;
    border-radius: 2px;
    padding: 4px 8px;
  }
}

.middle {
  padding: 10px 10px 10px 50px;
  .post-content {
    margin-bottom: 10px;
  }
  .post-files {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    &__file {
      width: 150px;
      height: 150px;
      margin: 5px;
      border: 1px solid #ccc;
      object-fit: contain;
    }
  }
}

.bottom {
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  .comment-link {
    display: inline-block;
    padding: 10px;
    height: 40px;
    width: 100%;
    color: #007bbb;
    align-items: center;
    text-align: center;
  }
}
.bottom:hover {
  background-color: #c1e4e9;
}